<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>09_列表渲染</title>
</head>
<body>

<!--
1. 遍历显示数组 : v-for / index
2. 遍历显示对象 : v-for / key
-->

<div id="demo">

  <h2>测试: v-for 遍历数组</h2>
  <ul>
    <li v-for="(p, index) in filterPersons">
      {{index}}--{{p.name}}--{{p.age}}
      --<button @click="removeP(p)">删除</button>
      --<button @click="updateP(p, {name:'Cot', age:18})">更新</button>
    </li>
  </ul>
  <h2>测试: v-for 遍历对象</h2>
  <ul>
    <li v-for="(value, key) in persons[1]">
      {{key}}----{{value}}
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el : '#demo',
    data : {
      persons: [
        {name: 'Tom', age: 12},
        {name: 'Jack', age: 15},
        {name: 'Bob', age: 14}
      ]
    },

    methods: {
      removeP (p) {
        // 得到元素在数组中下标
        var index = this.persons.indexOf(p)
        // 删除
        this.persons.splice(index, 1)
      },
      updateP (oldP,newP) {
        // 得到元素在数组中下标
        var index = this.persons.indexOf(oldP)
        console.log(index)
        // 更新下标所对应的数组元素
        // this.persons[index] = newP
        this.persons.splice(index, 1, newP)
      }
    },

    computed: {
      filterPersons () {
        // 哪些数组元素会放入返回的数组中? 只有回调函数返回值为true的p
        return this.persons.filter(p => p.name.indexOf('o')>=0)
      }
    }
  })
</script>
</body>
</html>